## ignore nf.logs
.nextflow.log*
.nextflow/

## ignore workdirw
work*

## ignore local R datas
*.Rdata
*.Rhistory

## ignore test results
test/results*

## ignore test data
test/data*

## ignore 
nf_modules/annovar*

## ignore
nf_modules/ancestral_fasta/*
