executor {
	name = 'local'
/* maximum number of CPUs made available by the underlying system */
	cpus = 7
}

process {

/* Define the maximum number of process instances that can be executed in parallel.
By default this value is equals to the number of CPU cores available minus 1 */

maxForks = 6
}
